 .graph-section{
    margin: 15vh 0;
   
 }
 .graph-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 50px;
   
    
 }
 .graph-buttons h5{
   font-size: 19px;
   font-weight: 700;
   border-bottom: 2px solid grey;
   width: fit-content;
   padding-bottom: 10px;
 }
 .graph-chart{
    border-left: 2px solid grey;
    border-bottom: 2px solid grey;
 }


 
@media only screen and (max-width: 767px){

 .graph-buttons{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
 }
 .graph-buttons>:first-child{
   width: 30%;
 }
 .graph-buttons>:last-child{
   width: 30%;
   justify-content: center;
   
 }
 .graph-buttons h5{
   width: 100%;
  font-size: 24px;
   display: flex;
   align-items: flex-end;
   
   justify-content: center;
 }
 .graph-chart{
   margin-top: 10vh;
 }
   }


   @media only screen and (max-width: 426px){

      
   }