.home-section {
  background-image: url("https://cdn.pixabay.com/photo/2018/09/05/18/21/bitcoin-3656764_960_720.jpg");
  /* filter: blur(5px);
  -webkit-filter: blur(5px); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  
}
.home-section::-webkit-scrollbar {
  display: none;
}
.home-section h2 {
  color: black;
}
.home-head {
  display: flex;

  justify-content: center;
  align-items: flex-end;
  height: 50vh;
}
.home-head h2 {
  font-size: 60px;
  font-weight: 600;
  color: #f0fbfe;
  
}
.home-body {
  display: flex;
  justify-content: center;
}
.home-body p {
  font-size: 22px;
  font-weight: 600;
  color: #f0fbfe;
}
