.footer-section{
    background-color: #25274D;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    opacity: 0.9;
}
.footer-fonts{
    display: flex;
    justify-content: space-between;
    
}
.footer-fonts a{
text-decoration: none;
font-size: 40px;
color: white
}
.footer-fonts a:hover{
    color: #4C90DF;
}
.footer-main{
    display: flex;
align-items: center;
justify-content: flex-end;

}
.footer-main img{
    width: 50px;
    height: 50px;
}
.footer-main h3{
color: white;
margin-left: 10px;
font-size: 30px;

}
.footer-main b{
    font-size: 30px;
    color:#fab157;
}


@media only screen and (max-width: 426px){

    .footer-section>:first-child{
        display: flex;
        justify-content: space-evenly;
    }

    .footer-section>:last-child{
    display: none;
}
      
}