.cardBox{
    border: 2px solid #A9ABB8;
    border-radius: 10px;
    padding: 10px;
    max-height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #a6e4fa;
    box-shadow: 12px 12px 2px 1px #363757;
}
.cardBox::-webkit-scrollbar {
    display: none;
}
.cardBox:hover{
   background-color: #f2fbff;
margin-top: -2vh
   ;
}